@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-font: "Odibee Sans";
  --main-font: "Nunito";
  --primary-clr: #164a41;
  --secondary-clr: #f1b24a;
  --teriary-clr: #9dc88d;
  --text-clr: #fff;
}

body {
  /* min-height: 100vh; */
  font-family: var(--main-font), sans-serif;
  color: var(--text-clr);
}

h1 {
  font-family: var(--main-font), sans-serif;
}

@layer components {
  .sidebar {
    @apply absolute h-full shadow bg-gray-100 hidden z-50 bg-primary-clr border-r-4 border-teriary-clr lg:block;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

.gm-style-iw {
  border: 1px solid var(--primary-clr);
}
