@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: "Nunito";
  --primary-clr: #164a41;
  --secondary-clr: #f1b24a;
  --teriary-clr: #9dc88d;
  --text-clr: #fff;
  --dark-text-clr: #111827;
}

body {
  min-height: 100vh;
  font-family: var(--main-font), sans-serif;
  color: var(--text-clr);
}

h1 {
  font-family: var(--main-font), sans-serif;
}

@layer components {
  .sidebar {
    @apply absolute h-full shadow bg-gray-100 hidden z-50 bg-primary-clr border-r-4 border-teriary-clr lg:block ease-in-out duration-300;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

.gm-style-iw {
  border: 1px solid var(--primary-clr);
}

svg g {
  fill-opacity: 0;
  animation: fill-in 2s 1s ease-in-out forwards;
}

@keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}

.translate,
.appear,
.top {
  transform-box: fill-box;
  transform-origin: center;
}

/* mixin */
.top {
  animation: fadeIn 1s 2s ease-in-out backwards;
}

.top-delayed {
  animation: fadeIn 1s 1s ease-in-out backwards;
}

.translate {
  animation: scale 1s 1s ease-in-out backwards;
}

.appear {
  animation: scale 1s 1.3s ease-in-out backwards;
}

@keyframes fadeIn {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
